@import url(./font.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Poppins', sans-serif;
background-size: cover;
color: black;
}

.row1{
    display: flex;
}
  
  /* Create three equal columns that sits next to each other */
.col2 {
    flex: 33.33%;
    padding: 5px;
}

h1{
    font-size: 2rem;
    padding-left: 15.5rem;
    padding-bottom: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    padding:3rem 5rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}