


/*font-family: Berkshire_Swash*/
@font-face{

    font-family: Berkshire_Swash;
    src: url("../Fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf");
}

/*font-family: Fredoka_One*/
@font-face{

    font-family: Fredoka_One;
    src: url("../Fonts/Fredoka_One/FredokaOne-Regular.ttf");
}

/*font-family: Staatliches*/
@font-face{

    font-family: Staatliches;
    src: url("../Fonts/Staatliches/Staatliches-Regular.ttf");
}

/*font-family: Viga*/
@font-face{

    font-family: Viga;
    src: url("../Fonts/Viga/Viga-Regular.ttf");
}

/*font-family: Abel*/
@font-face{

    font-family: Abel;
    src: url("../Fonts/Abel/Abel-Regular.ttf");
}

/*font-family: Aberil_Fatface*/
@font-face{

    font-family: Aberil_Fatface;
    src: url("../Fonts/Abril_Fatface/AbrilFatface-Regular.ttf");
}

/*font-family: Alegreya*/
@font-face{

    font-family: Alegreya;
    src: url("../Fonts/Alegreya/Alegreya-Regular.ttf");
}

/*font-family: Alex_Brush*/
@font-face{

    font-family: Alex_Brush;
    src: url("../Fonts/Alex_Brush/AlexBrush-Regular.ttf");
}

/*font-family: Amatic_SC*/
@font-face{

    font-family: Amatic_SC;
    src: url("../Fonts/Amatic_SC/AmaticSC-Bold.ttf");
}

/*font-family:Arizonia*/
@font-face{

    font-family: Arizonia;
    src: url("../Fonts/Arizonia/Arizonia-Regular.ttf");
}

/*font-family: Bangers*/
@font-face{

    font-family: Bangers;
    src: url("../Fonts/Bangers/Bangers-Regular.ttf");
}

/*font-family: Berkshire_Swash*/
@font-face{

    font-family: Berkshire_Swash;
    src: url("../Fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf");
}

/*font-family: Black_Ops_One*/
@font-face{

    font-family: Black_Ops_One;
    src: url("../Fonts/Black_Ops_One/BlackOpsOne-Regular.ttf");
}

/*font-family: Black_Ops_One*/
@font-face{

    font-family: Ultra;
    src: url("../Fonts/Ultra/Ultra-Regular.ttf");
}
/*font-family: Black_Ops_One*/
@font-face{

    font-family: Permanent_Marker;
    src: url("../Fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

/*font-family: Black_Ops_One*/
@font-face{

    font-family: Merienda_one;
    src: url("../Fonts/Merienda_One/MeriendaOne-Regular.ttf");
}

/*font-family: Black_Ops_One*/
@font-face{

    font-family: Fredoka_One;
    src: url("../Fonts/Fredoka_One/FredokaOne-Regular.ttf");


}
@font-face{

    font-family: Special_Elite;
    src: url("../Fonts/Special_Elite/SpecialElite-Regular.ttf");
}


