@import url(./font.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-decoration: none;
}

.inner{
    height: 75%;
    width: 70%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 10px 10px 68px -6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}

.photo{
    width: 50%;
    height: 100%;
    padding: 0 50px;
}

.photo img{
    width:100%;
    height:100%;
}

.user-form{
    background:#F9A826;
    padding: 5px;
    width:50%;
    height: 100%;
    border-radius:0px 10px 10px 0px;

}

.user-form .fa-eye{
    margin: 42px 1px 0px 280px;
}

.user-form label{
    color: #2F4353;
    padding:30px 10px;
    font-weight: 700;
    font-family:  Viga;
    text-align: center;
}

.field-icon {
    float: right;
    margin: 0px 5px;
    position: relative;
    z-index: 2;
  }



.user-form h1{
    color: #2F4353;
    padding:30px 0;
    font-weight: 700;
    font-family:  Viga;
    text-align: center;
}

.user-form i{
    position:absolute;
    margin: 24px 10px;
    position: left;
    color:#2F4353;
}

h6{
    color: #2F4353 ;
    font-size: 14px;
    margin: 5px;
    font-family:  Viga;
}

input{
    width: 100%;
    border-radius: 30px;
    border: none;
    height: 3em;
    font-size: 15px;
    margin: 10px 0;
    padding: 0 30px;
    outline: none;
    font-family: viga;
   
}

.user-form .pro{
     width: 470px;
}

.action-btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
    text-decoration: none;
}

.btn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    width: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    font-family: Viga;
    text-decoration: none;
    text-align: center;
}


.btn:hover{
   background-color:#FF1493;
}



.primary{
    border: none;
    background: linear-gradient(45deg,#D2CCC4 24%, #2F4353 100%);
}



@media screen and (max-width: 1145px) {
    .photo{
        display: none;
    }
    .user-form{
        width: 100%;
        border-radius: 10px;
    }
    .btn{
        width: 100%;
        margin: 5px;
        padding: 15px;
    }
    .user-form label{
        color: #2F4353;
        padding:30px 10px;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 50px;
    }
    input{
        width: 100%;
        border-radius: 30px;
        border: none;
        height: 5rem;
        font-size: 4px;
        margin: 20px 0;
        padding: 0 30px;
        outline: none;
        font-family: viga;
       
    }
    .user-form h1{
        color: #2F4353;
        padding:30px 0;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 5rem;
    }
    .user-form .fa-lock, .fa-envelope, .fa-phone{
        position:absolute;
        margin-top: 2rem;
        position: left;
        color:#2F4353;
        font-size: 2rem;
    }
    .user-form ::placeholder{
        font-size: 30px;
        margin-left: 50px;
    }
    .user-form h3{
        font-size: 2rem;
        text-decoration: none;
        color: white;
    }
    .user-form .fa-eye{
        margin: 95px 0px 0px 250px;
        font-size: 2rem;
    }
    .user-form .pro{
        width: 700px;
        margin: 45px 0px;
    }
    
}


@media screen and (max-width:787px) and (min-width:768px){
    .user-form .pro{
        width: 515px;
        margin: 5px 0px;
    }
    .photo{
        display: none;
    }
    .user-form{
        width: 100%;
        border-radius: 10px;
    }
    .btn{
        width: 100%;
        margin: 5px;
        padding: 15px;
    }
    .user-form label{
        color: #2F4353;
        padding:30px 10px;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 30px;
    }
    input{
        width: 100%;
        border-radius: 30px;
        border: none;
        height: 5rem;
        font-size: 4px;
        margin: 20px 0;
        padding: 0 30px;
        outline: none;
        font-family: viga;
       
    }
    .user-form h1{
        color: #2F4353;
        padding:30px 0;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 3rem;
    }
    .user-form .fa-lock, .fa-envelope, .fa-phone{
        position:absolute;
        margin-top: 2rem;
        position: left;
        color:#2F4353;
        font-size: 2rem;
    }
    .user-form ::placeholder{
        font-size: 30px;
        margin-left: 50px;
    }
    .user-form h3{
        font-size: 1rem;
        text-decoration: none;
        color: white;
    }
    .user-form .fa-eye{
        margin: 80px 10px 0px 230px;
        font-size: 2rem;
    }
   
}

@media screen and (max-width:540px) and (min-width:360px){
   
    .user-form .pro{
        width: 95%;
        margin: 5px 0px;
    }
    .photo{
        display: none;
    }
    .user-form{
        width: 100%;
        border-radius: 10px;
    }
    .btn{
        width: 100%;
        margin: 3px;
        padding: 5px 2px;
    }
    .user-form label{
        color: #2F4353;
        padding:30px 10px;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 15px;
    }
    input{
        width: 100%;
        border-radius: 30px;
        border: none;
        height: 2rem;
        font-size: 4px;
        margin: 20px 0;
        padding: 0 25px;
        outline: none;
        font-family: viga;
       
    }
    .user-form h1{
        color: #2F4353;
        padding:30px 0;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 20px;
    }
    .user-form .fa-lock, .fa-envelope, .fa-phone{
        position:absolute;
        margin-top: 2rem;
        position: left;
        color:#2F4353;
        font-size: 20px;
    }
    .user-form ::placeholder{
        font-size: 15px;
        margin-left: 50px;
    }
    .user-form h3{
        font-size: 15px;
        text-decoration: none;
        color: white;
    }
    .user-form .fa-eye{
        margin: 45px 10px 0px 80px;
        font-size: 20px;
    }
   
}
@media screen and (max-width:320px){
   
    .user-form .pro{
        width: 205px;
        margin: 5px 0px;
    }
    .photo{
        display: none;
    }
    .user-form{
        width: 100%;
        border-radius: 10px;
    }
    .btn{
        width: 100%;
        margin: 3px;
        padding: 5px 2px;
    }
    .user-form label{
        color: #2F4353;
        padding:30px 10px;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 15px;
    }
    input{
        width: 100%;
        border-radius: 30px;
        border: none;
        height: 2rem;
        font-size: 4px;
        margin: 20px 0;
        padding: 0 25px;
        outline: none;
        font-family: viga;
       
    }
    .user-form h1{
        color: #2F4353;
        padding:15px 0;
        font-weight: 700;
        font-family:  Viga;
        text-align: center;
        font-size: 15px;
    }
    .user-form .fa-lock, .fa-envelope, .fa-phone{
        position:absolute;
        margin-top: 2rem;
        position: left;
        color:#2F4353;
        font-size: 10px;
    }
    .user-form ::placeholder{
        font-size: 8px;
        margin-left: 50px;
    }
    .user-form h3{
        font-size: 10px;
        text-decoration: none;
        color: white;
    }
    .user-form .fa-eye{
        margin: 45px 10px 0px 60px;
        font-size: 20px;
    }
   
}



